---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359292
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"test-bossy-gold-duckbill.rmq6.cloudamqp.com","hostname_internal":"test-bossy-gold-duckbill.in.rmq6.cloudamqp.com","id":359292,"name":"bunny-rerecord","nodes":1,"plan":"hare-1","providerid":"71466532-b9d8-4b85-8dc1-d3861a995195","ready":true,"region":"amazon-web-services::us-east-1","rmq_version":"4.1.4","tags":["test"],"url":"amqps://REDACTED:REDACTED@test-bossy-gold-duckbill.rmq6.cloudamqp.com/nedxentn","urls":{"external":"amqps://REDACTED:REDACTED@test-bossy-gold-duckbill.rmq6.cloudamqp.com/nedxentn","internal":"amqp://REDACTED:REDACTED@test-bossy-gold-duckbill.in.rmq6.cloudamqp.com/nedxentn"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.043464ms
    - request:
        body: plan=hare-1
        form:
            plan:
                - hare-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances/359292
        method: PUT
      response:
        body: '{"message":"No changes"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.079397ms
[...]
