---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359564
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"test-fast-plum-quail.rmq7.cloudamqp.com","hostname_internal":"test-fast-plum-quail.in.rmq7.cloudamqp.com","id":359564,"name":"bunny1-test","nodes":1,"plan":"bunny-1","providerid":"00bfc123-4a0f-4ad7-aa11-a76587e2b9cf","ready":false,"region":"amazon-web-services::us-east-1","rmq_version":null,"tags":["test","bunny1"],"url":"amqps://REDACTED:REDACTED@test-fast-plum-quail.rmq7.cloudamqp.com/udhldnlq","urls":{"external":"amqps://REDACTED:REDACTED@test-fast-plum-quail.rmq7.cloudamqp.com/udhldnlq","internal":"amqp://REDACTED:REDACTED@test-fast-plum-quail.in.rmq7.cloudamqp.com/udhldnlq"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.8422ms
    - request:
        body: plan=hare-1
        form:
            plan:
                - hare-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances/359564
        method: PUT
      response:
        body: '{"error":"Please wait for your cluster to be configured before trying to update it"}'
        headers:
            Content-Type:
                - application/json
        status: 422 Unprocessable Entity
        code: 422
        duration: 255.167644ms
[...]
    - request:
        body: plan=hare-1
        form:
            plan:
                - hare-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances/359559
        method: PUT
      response:
        body: '{"message":"Your cluster is being reconfigured, this can take up to 10 minutes to complete. "}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.660481501s
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359559
        method: GET
      response:
        body: '{"error":"Not authorized"}'
        headers:
            Content-Type:
                - application/json
            Www-Authenticate:
                - Basic realm="Customer API"
        status: 401 Unauthorized
        code: 401
        duration: 439.921068ms
