---
version: 1
interactions:
    - request:
        body: name=vcr-test-instance&plan=lemur&region=amazon-web-services%3A%3Aus-east-1&tags%5B%5D=test&tags%5B%5D=vcr
        form:
            name:
                - vcr-test-instance
            plan:
                - lemur
            region:
                - amazon-web-services::us-east-1
            tags[]:
                - test
                - vcr
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359563,"message":"Instance created","url":"amqps://REDACTED:REDACTED@chimpanzee.rmq.cloudamqp.com/fbojnesu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 818.233145ms
