---
version: 1
interactions:
    - request:
        body: name=vcr-bunny1-test&plan=bunny-1&region=amazon-web-services%3A%3Aus-east-1&tags%5B%5D=test&tags%5B%5D=vcr&tags%5B%5D=bunny1
        form:
            name:
                - vcr-bunny1-test
            plan:
                - bunny-1
            region:
                - amazon-web-services::us-east-1
            tags[]:
                - test
                - vcr
                - bunny1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359287,"message":"Your dedicated instance will be available within a couple of minutes","url":"amqps://REDACTED:REDACTED@test-active-gold-gibbon.rmq6.cloudamqp.com/cvecxsst"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 911.31796ms
