---
version: 1
interactions:
    - request:
        body: name=vcr-delete-test&plan=lemur&region=amazon-web-services%3A%3Aus-east-1
        form:
            name:
                - vcr-delete-test
            plan:
                - lemur
            region:
                - amazon-web-services::us-east-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359288,"message":"Instance created","url":"amqps://REDACTED:REDACTED@moose.rmq.cloudamqp.com/hccmdjtn"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.576974ms
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359288
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 398.232638ms
