---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359563
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"chimpanzee.rmq.cloudamqp.com","hostname_internal":"chimpanzee.in.cloudamqp.com","id":359563,"name":"vcr-test-instance","plan":"lemur","providerid":"aa3fb205-00c3-432c-b70b-e000f5bd32b2","ready":true,"region":"amazon-web-services::us-east-1","rmq_version":"4.0.5","tags":["test","vcr"],"url":"amqps://REDACTED:REDACTED@chimpanzee.rmq.cloudamqp.com/fbojnesu","urls":{"external":"amqps://REDACTED:REDACTED@chimpanzee.rmq.cloudamqp.com/fbojnesu","internal":"amqp://REDACTED:REDACTED@chimpanzee.in.cloudamqp.com/fbojnesu"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.706475ms
