---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359292
        method: GET
      response:
        body: '{"error":"Invalid ID"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 473.074532ms
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359560
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"chimpanzee.rmq.cloudamqp.com","hostname_internal":"chimpanzee.in.cloudamqp.com","id":359560,"name":"vcr-test-instance","plan":"lemur","providerid":"e0c6e389-64bf-467d-b018-13c1a1d2636f","ready":true,"region":"amazon-web-services::us-east-1","rmq_version":"4.0.5","tags":["test","vcr"],"url":"amqps://REDACTED:REDACTED@chimpanzee.rmq.cloudamqp.com/deeygagl","urls":{"external":"amqps://REDACTED:REDACTED@chimpanzee.rmq.cloudamqp.com/deeygagl","internal":"amqp://REDACTED:REDACTED@chimpanzee.in.cloudamqp.com/deeygagl"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.600261ms
