---
version: 1
interactions:
    - request:
        body: name=vcr-lifecycle-test&plan=bunny-1&region=amazon-web-services%3A%3Aus-east-1&tags%5B%5D=test&tags%5B%5D=vcr&tags%5B%5D=lifecycle
        form:
            name:
                - vcr-lifecycle-test
            plan:
                - bunny-1
            region:
                - amazon-web-services::us-east-1
            tags[]:
                - test
                - vcr
                - lifecycle
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359285,"message":"Your dedicated instance will be available within a couple of minutes","url":"amqps://REDACTED:REDACTED@test-active-grey-puma.rmq5.cloudamqp.com/dycjsbtr"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 929.008433ms
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359285
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"test-active-grey-puma.rmq5.cloudamqp.com","hostname_internal":"test-active-grey-puma.in.rmq5.cloudamqp.com","id":359285,"name":"vcr-lifecycle-test","nodes":1,"plan":"bunny-1","providerid":"c186dfc0-29f2-43c4-9f79-8ad7c27096aa","ready":false,"region":"amazon-web-services::us-east-1","rmq_version":null,"tags":["test","vcr","lifecycle"],"url":"amqps://REDACTED:REDACTED@test-active-grey-puma.rmq5.cloudamqp.com/dycjsbtr","urls":{"external":"amqps://dycjsbtr:GCdcuyKNe0v7FICAp_i_E-8yoYOfAFwR@test-active-grey-puma.rmq5.cloudamqp.com/dycjsbtr","internal":"amqp://dycjsbtr:GCdcuyKNe0v7FICAp_i_E-8yoYOfAFwR@test-active-grey-puma.in.rmq5.cloudamqp.com/dycjsbtr"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.954553ms
    - request:
        body: plan=hare-1
        form:
            plan:
                - hare-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances/359285
        method: PUT
      response:
        body: '{"error":"Please wait for your cluster to be configured before trying to update it"}'
        headers:
            Content-Type:
                - application/json
        status: 422 Unprocessable Entity
        code: 422
        duration: 243.465456ms
[...]
