---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances
        method: GET
      response:
        body: '[{"id":359560,"name":"vcr-test-instance","plan":"lemur","region":"amazon-web-services::us-east-1","tags":["test","vcr"],"providerid":"e0c6e389-64bf-467d-b018-13c1a1d2636f","vpc_id":null},{"id":359559,"name":"bunny1-test","plan":"bunny-1","region":"amazon-web-services::us-east-1","tags":["test","bunny1"],"providerid":"4e683759-5eb9-41b3-8794-26f751de5699","vpc_id":null}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.173793ms
