---
version: 1
interactions:
    - request:
        body: name=vcr-update-test&plan=bunny-1&region=amazon-web-services%3A%3Aus-east-1
        form:
            name:
                - vcr-update-test
            plan:
                - bunny-1
            region:
                - amazon-web-services::us-east-1
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/instances
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359289,"message":"Your dedicated instance will be available within a couple of minutes","url":"amqps://REDACTED:REDACTED@test-big-gray-spider.rmq7.cloudamqp.com/wskasycd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.001828334s
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/instances/359289
        method: GET
      response:
        body: '{"apikey":"REDACTED","backend":"rabbitmq","hostname_external":"test-big-gray-spider.rmq7.cloudamqp.com","hostname_internal":"test-big-gray-spider.in.rmq7.cloudamqp.com","id":359289,"name":"vcr-update-test","nodes":1,"plan":"bunny-1","providerid":"138d269e-329f-4079-abaf-237609af0770","ready":false,"region":"amazon-web-services::us-east-1","rmq_version":null,"tags":[],"url":"amqps://REDACTED:REDACTED@test-big-gray-spider.rmq7.cloudamqp.com/wskasycd","urls":{"external":"amqps://wskasycd:GOosTf9Hw6XmL-2DQ17b3FJvGBjUlK6t@test-big-gray-spider.rmq7.cloudamqp.com/wskasycd","internal":"amqp://wskasycd:GOosTf9Hw6XmL-2DQ17b3FJvGBjUlK6t@test-big-gray-spider.in.rmq7.cloudamqp.com/wskasycd"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.782494ms
[...]
