---
version: 1
interactions:
    - request:
        body: name=vcr-test-vpc&region=amazon-web-services%3A%3Aus-east-1&subnet=10.56.72.0%2F24&tags%5B%5D=test&tags%5B%5D=vcr
        form:
            name:
                - vcr-test-vpc
            region:
                - amazon-web-services::us-east-1
            subnet:
                - 10.56.72.0/24
            tags[]:
                - test
                - vcr
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/vpcs
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359561,"message":"VPC created"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 621.661202ms
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/vpcs/359561
        method: GET
      response:
        body: '{"id":359561,"instances":[],"name":"vcr-test-vpc","plan":"vpc","providerid":"33f6956a-b02c-4370-843a-2ea9f6e6224e","region":"amazon-web-services::us-east-1","subnet":"10.56.72.0/24","tags":["test","vcr"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.67042ms
[...]
