---
version: 1
interactions:
    - request:
        body: name=vcr-test-vpc&region=amazon-web-services%3A%3Aus-east-1&subnet=10.56.72.0%2F24&tags%5B%5D=test&tags%5B%5D=vcr
        form:
            name:
                - vcr-test-vpc
            region:
                - amazon-web-services::us-east-1
            subnet:
                - 10.56.72.0/24
            tags[]:
                - test
                - vcr
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://customer.cloudamqp.com/api/vpcs
        method: POST
      response:
        body: '{"apikey":"REDACTED","id":359566,"message":"VPC created"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 679.336045ms
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://customer.cloudamqp.com/api/vpcs/359566
        method: GET
      response:
        body: '{"id":359566,"instances":[],"name":"vcr-test-vpc","plan":"vpc","providerid":"e54c5767-bbbe-4b82-933b-cf099f83fa23","region":"amazon-web-services::us-east-1","subnet":"10.56.72.0/24","tags":["test","vcr"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.162973ms
[...]
